@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';



* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}
