.button {
	color: #fff;
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: $main-color;
	text-transform: uppercase;
	font-size: 12px;

	&__main {
	  width: 300px;
	  height: 50px;
	  font-size: 16px;
	  margin-top: 67px;
	}


	&__submit {
	  color: #fff;
	  width: 100%;
	  height: 55px;
	  font-size: 16px;
	}
}